.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f2f5;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.stockNeededContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 20vh;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #e3f2fd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5%;
    margin-top: 10%;
}

.customerOrderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 15vh;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #e3f2fd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5%;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
}

.listItem {
    padding: 3px;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}

.item {
    list-style-type: none;
}

.supplierOrderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 13vh;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #e3f2fd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5%;
}

.quickLinksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 23vh;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #e3f2fd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5%;
    
}

.button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #004494;
}

.navLink {
    text-decoration: none;
    color: inherit;
}

.quickLinksList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.quickLink {
    color: #0056b3;
    text-decoration: none;
    padding: 2px;
    display: block;
    transition: color 0.3s ease;
}