.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffffe;
    height: 93vh;
    margin: 0;
    padding: 0;
}

.stockNeededContainer, 
.customerOrderContainer, 
.supplierOrderContainer, 
.quickLinksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 25vh;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f5f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 4%;
    padding: 4%;
}

.stockNeededContainer, .customerOrderContainer, .supplierOrderContainer {
    overflow-y: auto;
    max-height: 170px;
}

.stockNeededContainer h2, 
.customerOrderContainer h2, 
.supplierOrderContainer h2, 
.quickLinksContainer h2 {
    margin-top: 0; 
    margin-bottom: 10px; 
    color: #232323;
}

.stockNeededSupplier {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
    gap: 6px;
}

.listItem {
    padding: 3px;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    color: #222525;
    font-family: proxima-nova, sans-serif;
}

.item {
    list-style-type: none;
    font-family: proxima-nova, sans-serif;
}

.button {
    background-color: #f45d48;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #004494;
}

.navLink {
    text-decoration: none;
    color: inherit;
    font-family: proxima-nova, sans-serif;
}

.quickLinksList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.quickLinkAnchor {
    color: #0056b3;
    text-decoration: none; 
    display: block; 
    padding: 3px;
    border-radius: 4px; 
    transition: background-color 0.3s ease; 
  }
  
  .quickLinkAnchor:hover {
    background-color: #e6f2ff; /* Light blue background on hover */
    color: #003d82; /* Darker blue text on hover */
  }

.stockItem {
    color: #222525;
    font-family: proxima-nova, sans-serif;
}

.stockItem p {
    color: #0056b3;
    text-decoration: none; 
    display: block; 
    padding: 3px;
    border-radius: 4px; 
    transition: background-color 0.3s ease; 
}
.quickOrderButton {
    background-color: #f45d48;
    color: white;
    height: 30px;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
}