.inventoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffffe;
    height: 93vh;
    margin: 0;
    padding: 0;
}

.currentStockContainer {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    justify-content: center;
    height: 50%;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f5f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5%;
    margin-top: 15%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
    overflow-x: auto;
}

.editButton, .saveButton {
    background-color: #f45d48;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 22px;
    font-size: 14px;
}

.inventoryTable {
    width: 100%;
    border-collapse: collapse;
    display: table;
}

.inventoryTh, .inventoryTd {
    padding: 5px 10px;
    text-align: left;
}

.inventoryTable tr {
    display: table-row;
}

.inventoryTh {
    font-weight: bold;
}

.inventoryNumInput {
    width: 25px !important;
}

.itemNameButton {
    background: none;
    border: none;
    color: #0056b3;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    padding: 0;
  }
  
  .itemNameButton:hover {
    text-decoration: underline;
  }

  .createStockItemButton {
    background-color: #f45d48;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.createStockItemButton:hover {
    text-decoration: underline;
}

.tableHeader {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    background-color: #f8f5f2;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
    gap: 14px;
    margin-left: 21%;
    height: 7%;
  }
  
  .tableBody {
    height: 400px;
    overflow-y: auto;
  }
  
  .tableRow {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
    gap: 5px;
  }
  
  .tableRow:nth-child(even) {
    background-color: #f9f9f9;
  }