.inventoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f2f5;
    height: 93vh;
    margin: 0;
    padding: 0;
}

.currentStockContainer {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #e3f2fd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5%;
    margin-top: 15%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.editButton, .saveButton {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 30px;
    font-size: 14px;
}

.inventoryTable {
    width: 100%;
    border-collapse: collapse;
    display: table;
}

.inventoryTh, .inventoryTd {
    padding: 5px 10px;
    text-align: left;
}

.inventoryTable tr {
    display: table-row;
}

.inventoryTh {
    font-weight: bold;
}

.inventoryNumInput {
    width: 25px !important;
}

.itemNameButton {
    background: none;
    border: none;
    color: #0056b3;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    padding: 0;
  }
  
  .itemNameButton:hover {
    text-decoration: underline;
  }

  .createStockItemButton {
  background-color: #0056b3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.createStockItemButton:hover {
    text-decoration: underline;
}
