.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background-color: #f8f5f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  display: flex; /* Added to enable flexbox layout */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  text-align: center; /* Center text content */
}

.popupContent h2 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #232323;
}

.popupContent p {
  margin-bottom: 10px;
  width: 100%; /* Ensure paragraphs take full width */
}

.itemsList {
  list-style-type: none;
  padding: 0;
  width: 100%; /* Ensure list takes full width */
}

.itemsList li {
  margin-bottom: 5px;
}

.highlightedItem {
  background-color: #fffacd;
  font-weight: bold;
}

.closeButton {
  background-color: #f45d48;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.closeButton:hover {
  background-color: #e04235;
}

@media (max-width: 768px) {
  .popupContent {
    width: 95%;
    padding: 15px;
  }
}