.ordersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffffe;
    min-height: 93vh;
    margin: 0;
    padding: 0;
    position: relative; 
  }

.currentOrdersContainer {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    justify-content: center;
    height: 20vh;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f5f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5%;
    margin-top: 10%;
}

form {
    height: 100%;
    width: 100%;
}

.stockNeededList {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 10px;
}

.currentOrdersList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stockItem {
    display: flex;
    width: 100%;
    justify-content: center;
}

span {
    width: 55%;
}

.newOrderButton {
    background-color: #f45d48;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    height: 50px;
    width: 180px;
}

/* CSS for Form */

.formContainer {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 80%;
    max-width: 500px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f5f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    top: 30%; 
    bottom: 20px; 
  }


.formContainer fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%; 
    padding: 0;
    margin: 0;
    overflow-y: auto; 
}

.formActions {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center; 
    margin-top: auto; 
    padding: 10px 0;
    width: 100%;
}

.formContainer legend {
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.formGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.label {
    font-size: 1em;
    margin-right: 10px;
}

.select {
    display: flex;
    padding: 5px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
    display: inline-block;
    margin: 0;
}

.option {
    background-color: #fff;
    color: black;
    position: static;
    
}

.orderTable {
    display: flex;
    flex-direction: column;
}

.orderLine {
    display: flex;
    gap: 2px;
    margin-bottom: 3px;
}

.formContainer td {
    padding: 0px !important;
    margin: 0px !important;
}

.formContainer tbody {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.orderTable tr {
    display: flex;
    gap: 5px;
    margin: 0px 5px;
}
.itemIdInput {
    width: 50px;
    padding: 0px;
}

.itemNameInput {
    width: 90px;
}

.quantityInput {
    width: 40px !important;
}

.priceInput {
    width: 40px !important;
}

.itemIdInput, .itemNameInput, .quantityInput, .priceInput {
    height: 24px !important;
}

.dateInput {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.placeOrderButton {
    background-color: #f45d48;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin-bottom: 10px; 
    padding: 10px;
  }
  
  .resetOrderButton:hover {
    background-color: #f45d48;
  }

.closeFormButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 10px;
}

.closeFormButton, .resetOrderButton {
    background-color: #f45d48;
    color: white;
    border: none;
    padding: 2px 4px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 35px;
    margin: 0 5px;
}

.removeButton {
    background-color: #f45d48;
    color: white;
    height: 24px;
    width: 60px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
}

.newLineButton {
    background-color: #f45d48;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    margin-bottom: 10px;
}

.errorPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .errorContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .errorContent h3 {
    color: #ff0000;
    margin-bottom: 10px;
  }
  
  .errorContent button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .errorContent button:hover {
    background-color: #0056b3;
  }

  .quickOrderButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .confirmationOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1300;
  }
  
  .confirmationBox {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .confirmationBox button {
    margin: 0 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .confirmationBox button:first-of-type {
    background-color: #4CAF50;
    color: white;
  }
  
  .confirmationBox button:last-of-type {
    background-color: #f44336;
    color: white;
  }

  .lowerButtonsContainer {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .orderLink {
    color: #0056b3;
  }