.ordersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f2f5;
    height: 93vh;
    margin: 0;
    padding: 0;
}

.stockNeededContainer {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    justify-content: center;
    height: 30vh;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #e3f2fd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5%;
    margin-top: 15%;
}

.recentOrdersContainer {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    justify-content: center;
    height: 20vh;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #e3f2fd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5%;
    margin-top: 10%;
}

.stockNeededList {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 10px;
}

.recentOrdersList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stockItem {
    display: flex;
    width: 100%;
    justify-content: center;
}

span {
    width: 55%;
}

.button {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 60px;
    height: 30px;
    font-size: 16px;
}

.newOrderButton {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    height: 50px;
    width: 180px;
}